body {
  background-color: #f7f7f7;
  font-family: 'Open Sans', sans-serif;
}

/*begin header styles*/

header {
  align-items: center;
  background-color: #404041; 
  display: flex;
  flex-direction: column;
  height: 100px;
  justify-content: center;  
}

.title {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  width: 30%;
}


h1 {
  color: #DD1972;
  font-size: 50px; 
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.title-span {
  font-weight: 300;
}

.subtitle {
  border-bottom: 1px solid #FFF; 
  color: #FFF;
  font-weight: 300;
  line-height: 0.1em;
  margin-top: 10px;
  text-align: center; 
  width: 420px  ; 
}

.subtitle span{
  background :#404041; 
  padding:0 10px; 
}

.align-sides {
  display: flex;
}

/*begin main styles*/

main {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 50%;
}

.play-half {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-around;
  text-align: center;
  width: 100%;
}

.input-sect {
  display: flex;
  flex-direction: column;
  height: 20%;
}

.input-sect,  
.guess-sect,
.score-sect {
  background-color: #FFF;
  border: 2px solid #DBDBDB;
  margin: 5px 20px;
  padding: 10px;
  text-align: left;
  width: 92%;
}

p {
  color: #6E6E6E;
  font-size: 15px;
}

.sect-header {
  color: #6E6E6E;
  font-size: 20px;
  font-weight: 700;
  margin: 10px 0px;
}

.align-range {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

h2 {
  margin: 0px 0px 5px 0px;
}

.min-number,
.max-number {
  width: 100%;
}

button {
  background-color: #D0D2D3;  
  border-radius: 30px;
  color: #FFF;
  font-size: 15px;
  font-weight: 700;
  height: 35px;
  margin-right: 10px;
  margin-top: 10px;
  text-transform: uppercase;
  width: 30%;
}

button:hover {
  background-color: #DD1972;
}

button:active {
  background-color: #DD1972;
}

button:disabled,
button[disabled] {
  background-color: #D1D2D4; 
}

.update-btn {
  background-color: #6E6E6E;
  margin-top: 30px;
}

.hiddenP {
  display: none;
}

.guess-sect {
  display: flex;
  flex-direction: column;
  height: 50%;
  justify-content: center;
}

.current-range {
  padding: 10px 0px 0px 0px;;
}

.range-span {
  color: #6E6E6E;
  font-weight: 700;
  text-decoration: underline;
}

.name-div {
  display: inline-block;
  font-size: 18px;
  font-weight: 300;
  margin-right: 20px;
  width: 60%;
}

.name-input,
.name-input2 {
  font-weight: 300;
  width: 100%;
}

.input-div {
  display: inline-block;
  font-size: 18px;
  font-weight: 300;
  width: 30%;
}

input {
  border: 2px solid #DBDBDB;
  height: 35px;
}

.guess-input,
.guess-input2 {
  width: 100%;
}

.submit-btn {
  background-color: #6E6E6E;
}

.score-sect {
  height: 30%;
}

.align-score {
  display: flex;
  justify-content: space-around;
}

.score-art {
  text-align: center;
  width: 50%;
}

.recent-guess,
.recent-guess2 {
  color: #DD1972;
  font-size: 75px;
  font-weight: 700;
  padding: 10px 0px;
}

.guess-message,
.guess-message2 {
  color: #000;
  font-size: 20px;
  font-weight: 300;
}

.score1 {
  border-right: 2px solid #D0D2D3;
}

.challenger-name {
  color: #6E6E6E;
  font-size: 16px;
  font-weight: 700;
  padding-bottom: 5px;
}

.challenger-name, 
.challenger-name2 {
  color: #6E6E6E;
  font-size: 20px;
  font-weight: 700;
  padding-bottom: 5px;
}

/*begin aside styles*/

aside {
  align-items: center;
  background-color: #D1D2D4;
  border-left: 2px solid #abacad;
  display: flex;
  justify-content: center;
  width: 50%;
}

.card-half {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  text-align: center;
  width: 100%;
}

.card {
  align-items: center;
  background-color: #FFF;
  border: 2px solid #abacad;
  display: flex;
  flex-direction: column;
  height: 200px;
  margin: 5px;
  text-transform: uppercase;
  width: 90%;
}

.card-head,
.card-foot {
  align-items: center;
  display: flex;
  font-size: 15px;
  height: 25px;
  justify-content: center;
  padding: 5px 0px;
  width: 100%;
}

.chal1-name-update,
.chal2-name-update {
  color: #6E6E6E;
  font-weight: 700;
  padding: 0px 20px;
}

.card-body {
  border-bottom: 2px solid #D0D2D3;
  border-top: 2px solid #D0D2D3;
  color: #6E6E6E;
  display: flex;
  flex-direction: column;
  font-size: 30px;
  font-weight: 300;
  height: 125px;
  justify-content: center;
  width: 80%;
}

.winner-name-update {
  font-weight: 700;
  padding-bottom: 10px;
}

.card-foot-div {
  display: flex;
  padding: 0px 20px;
  width: 40%;
}

.num-guess-update,
.num-minutes-update {
  color: #6E6E6E;
  font-weight: 700;
  padding-right: 3px;
}

.delete-btn {
  background-color: #6E6E6E;
  border-radius: 100%;
  height: 25px;
  margin: 5px;
  width: 25px;
}


.enabled-state {
  background-color: #6E6E6E;
}

/*begin media queries*/


@media only screen and (max-width: 945px) {
  
.play-half {
  height: auto;
}

.align-range {
  flex-direction: column;
}

button {
  display: block;
  width: 90%;
}

.input-div,
.name-div {
  display: block;
  width: 90%;
}

}

@media only screen and (max-width: 850px) {

.align-score {
  display: block;
  }

.score-art {
  margin: 10px;
  padding: 5px;
  width: 90%;
}

.score1 {
  border-right: none;
  border-bottom: 2px solid #D0D2D3;
}

}

@media only screen and (max-width: 585px) {

.align-sides {
  display: block;
}

main,
aside {
  width: 100%;
}

.card {
  width: 95.5%;
}

}

@media only screen and (max-width: 440px){

h1{
    font-size: 30px;
}
.subtitle {
    font-size: 12px;
    width: 260px;
}

}